.color-yellow {
    background-color: rgb(241, 225, 0);
    color: white;
    transform: translate();
}

@font-face {
    font-family: "font1";
    src: url("/fonts/font1.otf") format("opentype");
    font-display: swap;
}