.img-anim {
    animation: rotate 10s infinite linear;
}

.bg-grad {
    background: rgb(244,244,244);
    background: linear-gradient(177deg, rgba(244,244,244,1) 0%, rgba(240,240,240,1) 63%, rgba(218,249,255,1) 100%);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}